.volunteer-logo {
    height: 60px;
}

.login-area {
    margin: auto;
    padding: 5%;
    border: 2px solid #ABABAB;
    height: 400px;
    background: #fff;
    border-radius: 5px;
}

.login-form input{
    margin-top: 10px;
    padding: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
}

.login-form input:focus{
    box-shadow: none;
}

.sign-btn {
    font-weight: 500;
    width: 100%;
    border: 1px solid #ABABAB;
    border-radius: 30px;
    text-align: left;
}

.googleIcon {
    height: 35px;
    margin-right: 25%;
}


/* RESPONSIVE-AREA */

@media only screen and (max-device-width: 350px){
    .sign-btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .googleIcon {
        height: 35px;
        margin-right: 0;
    }
    
}
