.list-table {
    margin: 5%;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
}

.trash-icon img{
    cursor: pointer;
    padding: 3px;
    background: red;
    height: 30px;
    border-radius: 5px;
}

.trash-icon img:hover {
    background: #b65d5d;
}

.table-header {
    background: #F5F6FA;
    border-radius: 10px;
}

.appear-msg {
    text-align: center;
    color: #3D3D3D;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appear-msg button {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing:2px;
    background: #0084FF;
    color: #fff;
}